* {
  margin: 0;
  padding: 0; }

.row {
  margin: 0 auto;
  max-width: 1400px; }

.clearfix {
  clear: both; }

span {
  padding: 40px 0;
  display: block;
  font-size: 24px;
  text-align: center; }

header {
  background-color: #e6f9f9; }

.sliding-wrapper {
  float: left;
  width: 30%;
  height: 12000px; }
  .sliding-wrapper .sliding-block {
    background-color: #84aa38; }
    .sliding-wrapper .sliding-block ul {
      margin-left: 40px;
      font-size: 24px; }

.content {
  float: left;
  width: 70%;
  height: 12000px;
  color: #fff;
  background-color: #22a7f0; }

.other-block {
  background-color: #ffae00; }

footer {
  background-color: #b4bf3e; }
